.app_dark_theme {
    --bg-color: #15497e;
    --inverted-bg-color: #e5e5e5;
    --primary-color: #38aa42;
    --secondary-color: #ffc8ed;
    --inverted-primary-color: #7e1f0e;
    --inverted-secondary-color: #0059ff;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-shadow: #1515ad;
    --skeleton-color: #2b2be8;
    --code-bg: #026c86;

    // card
    --card-bg: #1566b6;

    // listbox
    --listbox-bg: #1566b6;
}
