.dark {
    --bg-color: #05694b;
    --inverted-bg-color: #b3f1e4;
    --primary-color: #c5c5c5;
    --secondary-color: #595594;
    --unverted-primary-color: #171a19;
    --unverted-secondary-color: #8d8de7;
}
