.app_dark_theme {
    --bg-color: #15497e;
    --inverted-bg-color: #e5e5e5;
    --primary-color: #00d312;
    --secondary-color: #e615a0;
    --inverted-primary-color: #ff4c2b;
    --inverted-secondary-color: #07b9ff;

    // skeleton
    --skeleton-shadow: #1515ad;
    --skeleton-color: #2b2be8;
    --code-bg: #026c86;

    // card
    --card-bg: #1566b6;
}
