:root {
    --bg-color: #e5e5e5;
    --inverted-bg-color: #15497e;
    --primary-color: #7e1f0e;
    --secondary-color: #0059ff;
    --inverted-primary-color: #38aa42;
    --inverted-secondary-color: #7a2bfa;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton
    --skeleton-shadow: #5e5e5e;
    --skeleton-color: #6c6c70;
    --code-bg: #fff;

    // card
    --card-bg: #a8a1a1;

    // listbox
    --listbox-bg: #a8a1a1;
}
