:root {
    --bg-color: #e5e5e5;
    --inverted-bg-color: #15497e;
    --primary-color: #ff4c2b;
    --secondary-color: #0059ff;
    --inverted-primary-color: #00d312;
    --inverted-secondary-color: #7a2bfa;

    // skeleton
    --skeleton-shadow: #5e5e5e;
    --skeleton-color: #6c6c70;
    --code-bg: #fff;

    // card
    --card-bg: #a8a1a1;
}
