.app_red_theme {
    --bg-color: #48db7c;
    --inverted-bg-color: #aa2626;
    --primary-color: black;
    --secondary-color: #ac1919;
    --inverted-primary-color: #f4fbf6;
    --inverted-secondary-color: #07b9ff;

    // skeleton
    --skeleton-shadow: #2b8149;
    --skeleton-color: #0f311b;
    --code-bg: #53ff8f;
}
