.app_red_theme {
    --bg-color: #48db7c;
    --inverted-bg-color: #aa2626;
    --primary-color: black;
    --secondary-color: #48db7c;
    --unverted-primary-color: #F4FBF6;
    --unverted-secondary-color: #07b9ff;
}