.app_red_theme {
    --bg-color: #505f56;
    --inverted-bg-color: #613f3f;
    --primary-color: black;
    --secondary-color: #f0ce9b;
    --inverted-primary-color: #f4fbf6;
    --inverted-secondary-color: #07b9ff;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-shadow: #2b8149;
    --skeleton-color: #0f311b;
    --code-bg: #39ac61;

    // card
    --card-bg: #3baf64;

    // listbox
    --listbox-bg: #3baf64;
}
