.options {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 9999;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--inverted-bg-color);
}

.item {
    padding: 10px 20px;
}
